// ==============================
// Override Variables
// 覆盖变量
// ==============================

.single .content p {
  line-height: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.single .content code {
  line-height: 2rem;
}

.highlight pre {
  overflow-x: scroll;
}

img[src$="#feat"] {
  display: block;
  margin: 1rem auto;
  min-width: 100%;
  height: auto;
}
